
html,
body {
  margin: 0;
  font-family: Calibri (Body);
}

.top-container {
  background-color:#2E2963;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #2E2963;
  color: #f1f1f1;
  width:100%;
  text-align:center;
  z-index: 1;
}

.content {
  padding: 16px;
}

.image-upload > input
{
    display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.center {
  display:inline-block;
  margin: 0 auto;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#2E2963;
   color: white;
   text-align: center;
}

.btn1 {
  background-color: #2E2963; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 16px 30px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn1:hover {
  background-color: RoyalBlue;
}


.btn2 {
  background-color: #4F46A8; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 16px 30px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}


.cbtn {
  background-color: #fff; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 16px 30px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.cbtn2 {
  background-color: #fff; /* Blue background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 5px 10px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.cbtn2:hover {
  color: red;
}

.fa-heart{
  cursor: pointer;
  color:red;
}


.navitem, .nav-link {
    color: #D3D3D3;
}
/*
.rounded-circle {
  
}*/